.c3-axis-y text
{
  font-size: 15px; //change the size of the fonts
}

.c3-axis-x text
{
  font-size: 15px; //change the size of the fonts
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
